:root{
  --softCyan: #69d2e7;
  --verySoftCyan: #a7dbd8;
  --veryDark: #232528;
  --veryLight: #f3f3f3;
  --darkModerateBlue: #483d8b;
}

body {
  font-family: 'PT Serif', serif !important;
  background: var(--veryLight) !important;
  color: var(--veryDark) !important;
}

.text-title {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-cyan {
  color: var(--softCyan)
}

.text-cerah {
  color: var(--verySoftCyan);
}